@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;500&family=Nanum+Myeongjo&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(0,0,0,0.07);
	font-family: 'Gothic A1', sans-serif;
}

.flex {
	display: flex;
}

.column {
	flex: 1;
	flex-direction: column;
	overflow: auto;
}

.row {
	flex: 1;
	flex-direction: row;
	overflow: auto;
}

.body {
	width: 100%;
	height: 100%;
}

.content {
	width: 50%;
	margin: 0 auto;
}

.top {
	width: 100%;
	height: auto;
	background-color: white;
	border: 1px solid rgb(0,0,0,0.2);
	border-radius: 10px;
	margin: 15px 0px;
	-moz-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
}

.info {
	margin: 10px 15px;
	padding: 15px;
	border-bottom: 2px solid rgb(0,0,0,0.3);
	align-items: center;
	justify-content: center;
}

.info1 {
	padding: 0 20px;
	float: left;
}

.kn {
	font-size: 1.5vw;
}

.en {
	font-size: 1vw;
	margin-top: -3px;
	color: grey;
}

.front {
	font-size: 1.1vw;
	margin-top: 10px;
	color: grey;
}

.info2 {
	padding: 0 20px;
	font-size: 1.3vw;
}

.birth {
	margin: 5px 0px;
}

.phone {
	margin: 5px 0px;
}

.mail {
	margin: 5px 0px;
}

.mail a {
	text-decoration: none;
	color: #6799FF;
}

.site {
	margin: 15px 15px;
}

.insta {
	float: left;
	margin: 0px 20px;
	font-size: 1.1vw;
}

.insta a {
	color: #6799FF;
	text-decoration: none;
}

.github {
	font-size: 1.1vw;
	margin: 0px 20px;
}

.github a {
	color: #6799FF;
	text-decoration: none;
}

.blog {
	font-size: 1.1vw;
	margin: 0px 20px;
}

.blog a {
	color: #6799FF;
	text-decoration: none;
}

.notion {
	font-size: 1.1vw;
	margin: 0px 20px;
}

.notion a {
	color: #6799FF;
	text-decoration: none;
}

.middle {
	width: 100%;
	height: auto;
	background-color: white;
	border: 1px solid rgb(0,0,0,0.2);
	border-radius: 10px;
	margin: 15px 0px;
	-moz-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
}

.important {
	margin: 0px 15px;
}

.study {
	width: 100%;
	height: auto;
	border-bottom: 2px solid rgb(0,0,0,0.3);
}

.bottom {
	width: 100%;
	height: auto;
	background-color: white;
	border: 1px solid rgb(0,0,0,0.2);
	border-radius: 10px;
	margin: 15px 0px;
	-moz-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
}

.edu {
	width: 100%;
	height: auto;
	background-color: white;
	border: 1px solid rgb(0,0,0,0.2);
	border-radius: 10px;
	margin: 15px 0px;
	-moz-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
}

.mtitle {
	width: 24%;
	font-size: 1.5vw;
	margin: 10px 0px;
	padding: 5px;
	border-bottom: 1px solid rgb(0,0,0,0.2);
	text-align: center;
}

.title {
	width: 16%;
	font-size: 1.5vw;
	margin: 10px 15px;
	padding: 5px;
	border-bottom: 1px solid rgb(0,0,0,0.2);
	text-align: center;
}

.des {
	font-size: 1.18vw;
	color: #000;
	margin: 15px 25px;
	word-break: keep-all;
}

.study_list {
	margin-left: 10px;
	padding: 5px 0px;
}

.study_ul {
	font-size: 1.1vw;
}

.study_li {
	list-style-type: none;
	padding: 5px 0px;
	margin-top: 5px;
	font-weight: bold;
}

.nameLink {
	font-size: 1.3vw;
	margin-bottom: 3px;
}

.nameLink a {
	font-size: 1vw;
	margin-left: 5px;
	color: #6799FF;
	text-decoration: none;
	margin-top: 10px;
}

.study_li_li {
	margin-left: 40px;
	padding: 3px 0px;
	list-style-type: circle;
	color: rgba(0, 0, 0, 0.8);
	font-weight: normal;
}

.study_li_li a {
	color: #6799FF;
	text-decoration: none;
}

.pro_list {
	margin-left: 10px;
}

.pro_title {
	font-size: 1.6vw;
	font-weight: bold;
	padding: 3px 0px;
}

.pro_sub_title {
	font-size: 1vw;
	font-weight: bold;
	padding: 5px 0px;
}

.role {
	font-size: 1.1vw;
	padding: 3px 0px;
}

.skill {
	font-size: 1.1vw;
	padding: 3px 0px;
}

.pro_des {
	padding: 3px 0px;
}

.pro_ul {
	font-size: 1.1vw;
}

.pro_li {
	margin-left: 15px;
	padding: 3px 0px;
}

.pro_li_li {
	margin-left: 30px;
	padding: 3px 0px;
	list-style-type: circle;
	color: #000;
}

.pro_li_li a {
	color: #6799FF;
	text-decoration: none;
}

.pro_li_li_li {
	margin-left: 45px;
	padding: 3px 0px;
	list-style-type: circle;
	color: #000;
}

.pro_li_li_li_li {
	margin-left: 60px;
	padding: 3px 0px;
	list-style-type: circle;
	color: rgba(0, 0, 0, 0.8);
}

.pro_li_li_li_li_li {
	margin-left: 75px;
	padding: 3px 0px;
	list-style-type: circle;
	color: rgba(0, 0, 0, 0.8);
}

.pro {
	padding: 5px 0px;
}

footer {
	font-size: 0.5em;
	color: grey;
	text-align: center;
	padding: 15px 0px;
}