:root {
	--section-aTag-color: #6799FF;
	--section-lightestBlack-color: rgb(0,0,0,0.2);
	--section-box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
	--section-innerGraph-color: #cfcfc4;
	--section-outerGraph-color: #1d1c1a;
	--section-htmlWidth: 70%;
	--section-jsWidth: 55%;
	--section-javaWidth: 45%;
	--section-phpWidth: 30%;
	--section-reactWidth: 40%;
	--section-nodeWidth: 45%;
}

.sectionSkill {
	background-color: white;
	border: 1px solid var(--section-lightestBlack-color);
	border-radius: 10px;
	-moz-box-shadow: var(--section-box-shadow);
	-webkit-box-shadow: var(--section-box-shadow);
	box-shadow: var(--section-box-shadow);
	padding: 10px 15px;
	box-sizing: border-box;
}

.sectionSkill .skillTitle {
	width: 16%;
	font-size: 15px;
	padding: 5px 5px;
	border-bottom: 1px solid var(--section-lightestBlack-color);
	text-align: center;
}

.sectionSkill .skillTypeBox {
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0;
	padding: 3px 3px;
}

.sectionSkill .skillTypeBox p {
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 3px 3px;
	padding: 0;
	letter-spacing: 1px;
}

.sectionSkill .skillTypeBox p:nth-child(2) {
	float: right;
	position: relative;
	top: -17px;
    margin-right: 10px;
}

.sectionSkill .skillTypeBox .skillLevelBox {
	background: var(--section-outerGraph-color);
	padding: 3px;
	box-sizing: border-box;
	border: 1px solid var(--section-innerGraph-color);
	border-radius: 50px;
}

.sectionSkill .skillTypeBox .skillLevelBox .skillLevel {
	background: var(--section-innerGraph-color);
	/* width: 100%; */
	height: 5px;
	border-radius: 50px;
}

/* Skill Width Style */
.htmlWidth {
	width: var(--section-htmlWidth);
	animation-duration: 1s;
	animation-name: htmlSlide;
}

.jsWidth {
	width: var(--section-jsWidth);
	animation-duration: 1s;
	animation-name: jsSlide;
}

.javaWidth {
	width: var(--section-javaWidth);
	animation-duration: 1s;
	animation-name: javaSlide;
}

.phpWidth {
	width: var(--section-phpWidth);
	animation-duration: 1s;
	animation-name: phpSlide;
}

.reactWidth {
	width: var(--section-reactWidth);
	animation-duration: 1s;
	animation-name: reactSlide;
}

.nodeWidth {
	width: var(--section-nodeWidth);
	animation-duration: 1s;
	animation-name: nodeSlide;
}

/* Width Animation Keyframes */
@keyframes htmlSlide {
	from {
		width: 0%;
	}

	to {
		width: var(--section-htmlWidth);
	}
}

@keyframes jsSlide {
	from {
		width: 0%;
	}

	to {
		width: var(--section-jsWidth);
	}
}

@keyframes javaSlide {
	from {
		width: 0%;
	}

	to {
		width: var(--section-javaWidth);
	}
}

@keyframes phpSlide {
	from {
		width: 0%;
	}

	to {
		width: var(--section-phpWidth);
	}
}

@keyframes reactSlide {
	from {
		width: 0%;
	}

	to {
		width: var(--section-reactWidth);
	}
}

@keyframes nodeSlide {
	from {
		width: 0%;
	}

	to {
		width: var(--section-nodeWidth);
	}
}